.content{
    visibility: collapse;
}

body{
    background: #000;
}

.loader {
    position: absolute;
    visibility: visible;
    top:50%;
    left:50%;
    margin:-10px 0 0 -55px;
    background: #000;
}

.dot {
    position:absolute;
    width:16px;
    height:16px;
    left:-16px;
    background: #ffffff;
    border-radius: 50%;
    transform: translateX(0);
    animation:dot 1s infinite;
}

.dots{
    transform: translateX(0);
    margin-left:16px;
    animation:dots 1s infinite;
}

span {
    display:block;
    float:left;
    width:16px;
    height:16px;
    margin-left: 16px;
    background: #ffffff;
    border-radius:50%;
}

@keyframes dot{
    100%{
        transform: translateX(96px);    
    }
}

@keyframes dots{
    100%{
        transform:translateX(-31px);    
    }
}